<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" 
    colors="true" 
    stopOnFailure="false">

  <testsuites>
    <!-- <testsuite name="Calculator">
        <file>tests\CalculatorTests\CalculatorTest1.php</file>
        <file>tests\CalculatorTests\CalculatorTest2.php</file>
        <file>tests\CalculatorTests\CalculatorTest3.php</file>
        <directory>tests</directory>
    </testsuite> -->

    <testsuite name="AdvancedMath">
        <!-- <file>tests\AdvancedMathTest\factorialTest.php</file> -->
        <!-- <file>tests\AdvancedMathTest\powerTest.php</file> -->
        <!-- <file>tests\AdvancedMathTest\squareRootTest.php</file> -->
        <!-- <file>tests\AdvancedMathTest\sumOfEvensTest.php</file> -->
        <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>    

